:host {
  width: 100%;
  height: 100%;

  #slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    #outer-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      #viewport {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;

        #toc {
          position: absolute;
        }

        slot::slotted(gchatterjee-slide) {
          position: absolute;
          height: 100%;
        }
      }

      #inner-container {
        visibility: hidden;
      }
    }
  }
}
