$verdigris: #05a8aaff;
$turquoise-green: #b8d5b8ff;
$desert-sand: #d7b49eff;
$flame: #dc602eff;
$international-orange-golden-gate-bridge: #bc412bff;

$color-cold: $verdigris;
$color-cool: $turquoise-green;
$color-neutral: $desert-sand;
$color-warm: $flame;
$color-hot: $international-orange-golden-gate-bridge;
